.grid-container {
	column-gap: 8px;
	display:  grid;
	grid-template-areas: "menu main main main";	  
}

.grid-container > div {
	background-color: LightGray;
	border-width: 4px;
	border-color: Gray;
	border-radius: 8px;
}

.menu {
	height: 256px;
	width: auto;
}

.main {
	padding: 10px;
}
