body {
	align-items: center;
}

.grid-container {
	column-gap: 16px;
	display:  grid;
	grid-template-areas: "menu main main main";	  
}

.grid-container > div {
	background-color: LightGray;
	border-radius: 8px;
}

.menu {
	width: 256px;
}
	
.menu-items {
	background-color: Gray;
}

.main {
	padding: 10px;
}
